*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
font-family:Arial;
line-height:1.6;
}

header{
background:#1e3a8a;
color:white;
padding:20px;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px 20px;
background:#eef2ff;
}

.btn{
background:#1e3a8a;
color:white;
padding:10px 20px;
text-decoration:none;
}

.card-container{
display:flex;
gap:20px;
flex-wrap:wrap;
padding:20px;
}

.card{
border:1px solid #ddd;
padding:20px;
border-radius:10px;
flex:1;
}

.gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(300px,1fr));
gap:20px;
padding:20px;
}

.gallery img{
width:100%;
border-radius:10px;
}

footer{
background:#111827;
color:rgb(131, 160, 134);
text-align:center;
padding:20px;
margin-top:20px;
}

@media(max-width:768px){

nav{
display:flex;
flex-direction:column;
}

}